.clock {
  display: flex;
  align-self: flex-end;
  justify-content: space-between;
  align-items: flex-end;
  border-radius: 10px;
  background: white;
  color: black;
  padding: 1em 2em;
  gap: 1em;
  &__day {
    font-size: 1.2em;
    font-weight: bold;
  }

  &__time {
  }
}
